*{
    padding: 0;
    margin: 0;
}
body{
    background-size: cover;
}
header{
    background-color: black;
    height: 5em;
}
.headings{
    float: right;
    margin-top: 33px;
    margin-right: 55px;
}
.headings a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 8px;
    margin-right: 8px;
}
.headings a:hover{
    background-color: teal;
    color: black;
    transition: 0.5s ease-in-out;

}
